<!doctype html>
<html lang="en">
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>


  </head>
<body ng-app="ShoppingListCheckOff">
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-6" ng-controller="ToBuyShoppingController as toBuy">
     <h2>To Buy:</h2>
     <ul>
       <li ng-repeat="item in toBuy.toBuyList">
         Buy {{item.item_quantity}} {{item.item_name}}
         <button class="btn btn-default" ng-click="toBuy.boughtItem($index)"><span class="glyphicon glyphicon-ok"></span> Buy</button></li>
       </li>
     </ul>
     <div class="emptyMessage" ng-if="!toBuy.toBuyList.length">Everything is bought!</div>
    </div>

    <!-- Already Bought List -->
    <div class="col-md-6" ng-controller="AlreadyBoughtShoppingController as bought">
     <h2>Already Bought:</h2>
     <ul>
       <li ng-repeat="item in bought.alreadyBoughtList">
         Bought {{item.item_quantity}} {{item.item_name}}
         <button class="btn btn-default" ng-click="bought.removeItemFromList($index)"><span class="glyphicon glyphicon-ok"></span> Remove</button></li>
       </li>

     </ul>
     <div class="emptyMessage" ng-if="!bought.alreadyBoughtList.length">Nothing bought yet.</div>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
   <script src="app.js"></script>

</body>
</html>
