<!doctype html>
<html lang="en">
<head>
  <title>Narrow Down Your Menu Choice</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles/bootstrap.min.css">
  <link rel="stylesheet" href="styles/styles.css">
</head>
<body ng-app="NarrowItDownApp">
  <div class="container" ng-controller="NarrowItDownController as ctrl">
    <h1>Narrow Down Your Chinese Menu Choice</h1>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group" >
          <input type="text" placeholder="search term" class="form-control" ng-model="ctrl.term">
          <!-- <span class="input-group-btn"> -->
          <button class="btn btn-primary narrow-button" ng-click="ctrl.narrowItDown(ctrl.term)">Narrow It Down For Me!</button>
          <!-- </span> -->
        </div>
      </div>
    </div>
    <!-- Bonus loader (see Bonus section of the assignment) -->
    <!-- <items-loader-indicator></items-loader-indicator> -->

    <!-- found-items should be implemented as a component -->
    <br>
    <found-items found="ctrl.found" on-remove="ctrl.removeItem(index)">
        <span class="error alert-warning">{{ctrl.message}}</span>
    </found-items>


    <!-- <found-items found-items="...." on-remove="...."></found-items> -->
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="app.js"></script>

</body>
</html>
